:root {
    --fuenteHeader: 'Quattrocento', serif;
    --fuentePrincipal: 'Quattrocento Sans', sans-serif;

    --brown: #3f2307;
    --lightbrown: #f7e2cf;
    --gold: #D4AF37;
    --shine: #fad56f;
    --white: #ffffff;
    --black: #000;
}
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: var(--fuentePrincipal);
    background: url(../img/bg.jpg);
    
  
}
a {
    text-decoration: none;
}

#main-header {
    background-color:var(--black);  
    width: auto;
    height: 55px;
    padding-bottom: 60px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 50px;
  height: 50px;
  font-family: var(--fuenteHeader);
  
}
.logo-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    gap: 0.5rem;
}
.logo-header__text {
    color:var(--white);
    font-size: 2.5rem;
}
.logo-header__image {
   width: 40px;
   height: 40px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
.navigation__link {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--white);
}
.container-game {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.checkers {
    border-collapse: collapse;
}

td {
    width: 60px;
    height: 60px;
}
.checkers__piece {
    width: 54px;
    height: 54px;
    padding-top: 5px;
   padding-left: 5px;
}
.checkers tr:nth-child(odd) td:nth-child(even){
    background-color:var(--brown);
}

.checkers tr:nth-child(even) td:nth-child(even){
      background-color: var(--lightbrown);
}
.checkers tr:nth-child(odd) td:nth-child(odd){
      background-color: var(--lightbrown);
}
.checkers tr:nth-child(even) td:nth-child(odd){
    background-color: var(--brown);
}

.btn-container {
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding-left: 0.5rem;
}
.btn-newgame {
    position: relative;
    font-size: 1.2rem;
    background-color: var(--gold);
    border-radius: 12px;
    padding: 10px 40px;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 8px 1px var(--black);
    transition: 0.5s;
    overflow: hidden;
}
.btn-newgame:hover {
    background-color: var(--shine);
}
.btn-container .btn-newgame::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;
}
.btn-newgame:hover::before { 
    left: 100%;
}
.footer {
    background-color: var(--black);
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
    margin-bottom: 0;
    
}
.footer__text {
    color: var(--white);
}
.footer__link {
    color:  #1E5096;
}
.footer__link:hover {
    text-decoration: underline;
}
