:root {
    --fuenteHeader: 'Quattrocento', serif;
    --fuentePrincipal: 'Quattrocento Sans', sans-serif;

    --brown: #3f2307;
    --lightbrown: #f7e2cf;
    --gold: #D4AF37;
    --shine: #fad56f;
    --white: #ffffff;
    --black: #000;
    --blue: #0000ff;
}
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: var(--fuentePrincipal);
   
}
a {
    text-decoration: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background: url(../img/bg.jpg);
    background-size: cover;
}
#main-header {
    align-self: stretch;
    background-color:var(--black);  
    padding: 0.5rem;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  height: 40px;
  font-family: var(--fuenteHeader);
  
}
.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header__text {
    color:var(--white);
    font-size: 2.5rem;
    margin-left: 0.5rem;
}
.logo-header__image {
   width: 35px;
   height: 35px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__link {
    font-size: 1.4rem;
    padding: 0.5rem;
    color: var(--white);
}
.container-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    position: relative;
    width: 100%;
}
.container-game #checkers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border: 2px solid var(--black);
    width: 100%;
}

td {
    width: 60px;
    height: 60px;
}
.checkers__piece--black, .checkers__piece--brown {
    width: 54px;
    height: 54px;
    padding-top: 5px;
   padding-left: 5px;
   
}
#checkers .row:nth-child(odd) .cell:nth-child(even){
    background-color:var(--brown);
}

#checkers .row:nth-child(even) .cell:nth-child(even){
      background-color: var(--lightbrown);
}
#checkers .row:nth-child(odd) .cell:nth-child(odd){
      background-color: var(--lightbrown);
}
#checkers .row:nth-child(even) .cell:nth-child(odd){
    background-color: var(--brown);
}
.container-game .ribbon {
    width: 100%;
    height: 0.2rem;
    background-color: var(--black);
}
.container-game .players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--lightbrown);
    border: 2px solid var(--black);
}
#turn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%
}
.turn__piece.p1 div{
   width: 50px;
   height: 50px;
   background: url(../img/brown.png);
   background-position: center;
   background-size: cover;
   margin-top: 0.5rem;
}
.turn__piece.p2 div{
    width: 50px;
   height: 50px;
   background: url(../img/black.png);
   background-position: center;
   background-size: cover;
   margin-top: 0.5rem;
}
.container-game .players #turn p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}
.container-game .players .player, .container-game .players .player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container-game .players .player #player__name, .container-game .players .player2 #player__name--two {
   font-size: 1rem;
  font-weight: bold;
}
.container-game .players .player .player__time, .container-game .players .player2 .player__time--two {
    font-size: 1rem;
    padding: 0.5rem;
    border: double;
}

.btn-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.btn-newgame {
    position: relative;
    font-size: 1rem;
    background-color: var(--gold);
    border-radius: 12px;
    padding: 10px 40px;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 8px 1px var(--black);
    transition: 0.5s;
    overflow: hidden;
}
.btn-newgame:hover {
    background-color: var(--shine);
}
.btn-container .btn-newgame::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;
}
.btn-newgame:hover::before { 
    left: 100%;
}
.footer {
    display: flex;
    justify-content: center;
    align-self: stretch;
    background-color: var(--black);
}
.footer__text {
    color: var(--white);
    font-size: 12px;
}
.footer__text--link {
    color: var(--blue);
}
.footer__text--link:hover {
   text-decoration: underline;
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.rules .rules__title {
    font-size: 2rem;
   border-bottom: 1px solid var(--lightbrown);
   color: var(--lightbrown);
  text-align: center;
}
.rules h3 {
    text-align: center;
    color: var(--gold);
    border-bottom: 1px solid var(--lightbrown);
    font-size: 1.5rem;
}
.rules .rules__list {
    font-size: 1rem;
    color: var(--white);
    line-height: 2;
    
}
@media (max-width: 480px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }
    .navigation {
        flex-direction: column;
    }
   .container-game {
       max-width: 100vw;
   }
   #checkers td,#checkers .checkers__piece--black, #checkers .checkers__piece--brown {
    height: 10vw;
    width: 10vw;
   }
   .turn__piece.p1 div, .turn__piece.p2 div{
       width: 35px;
       height: 35px;
   }
    .checkers__piece--black, .checkers__piece--brown {
        padding: 3px;
    }

}
