:root {
    --Header: 'Quattrocento', serif;
    --Principal: 'Quattrocento Sans', sans-serif;

    --brown: #3f2307;
    --lightbrown: #f7e2cf;
    --gold: #D4AF37;
    --shine: #fad56f;
    --white: #ffffff;
    --black: #000;
    --blue: #0000ff;
}
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: var(--Principal);
   
}
a {
    text-decoration: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background: url(../img/bg.jpg);
    background-size: cover;
}
#main-header {
    align-self: stretch;
    background-color:var(--black);  
    padding: 0.5rem;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  height: 40px;
  font-family: var(--Header);
  
}
.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header__text {
    color:var(--white);
    font-size: 2.5rem;
    margin-left: 0.5rem;
}
.logo-header__image {
   width: 35px;
   height: 35px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__link {
    font-size: 1.4rem;
    padding: 0.5rem;
    color: var(--white);
}
.container-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
}
.container-game #checkers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border: 2px solid var(--black);
}

td {
    width: 60px;
    height: 60px;
    position: relative;
}
.checkers__piece--black, .checkers__piece--brown {
    width: 54px;
    height: 51px;
    margin-left: 3px;
    margin-top: 3px;
    cursor: grab; 
}
 .checkers__piece--black.painted, .checkers__piece--brown.painted {
     border-radius: 50%;
     box-shadow: 0 0 10px 3px var(--gold);
     background-color: var(--gold);
}

#checkers.grabbing, .checkers__piece--brown.grabbing, .checkers__piece--black.grabbing {
    cursor: grabbing;
}
.checkers__piece--black.grab, .checkers__piece--brown.grab {
    cursor:grabbing;
}
#checkers .cell-dark{
  background-color:var(--brown);
}

#checkers .cell-light{
      background-color: var(--lightbrown);
}
#checkers.stop, #container-btn.stop {
    pointer-events: none;
}
.move-here{
    background-color:var(--gold);
    opacity: .5;
    
}
.container-game .ribbon {
    width: 100%;
    height: 0.2rem;
    background-color: var(--black);
}
.container-game .players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: var(--lightbrown);
    border: 2px solid var(--black);
    padding-bottom: 2rem;
}
#turn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%
}
#turn #turn-player {
    margin-top: 0.1rem;
    font-size: 0.8rem;
    text-align: center;
}
#turn.p1 div{
   width: 50px;
   height: 50px;
   background: url(../img/brown.png);
   background-position: center;
   background-size: cover;
   margin-top: 0.5rem;
}
#turn.p2 div{
    width: 50px;
   height: 50px;
   background: url(../img/black.png);
   background-position: center;
   background-size: cover;
   margin-top: 0.5rem;
}
.container-game .players #turn p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}
.container-game .players .player, .container-game .players .player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
}
.container-game .players .player #player__name, .container-game .players .player2 #player__name--two {
   font-size: 1rem;
  font-weight: bold;
}

#message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 3.5em;
    padding: 0.5em 3em;
    background-color:rgb(134, 40, 40);
    border: 3px solid var(--black);
    border-radius: 10px;
    top: 35%;
    text-align: center;
    pointer-events: auto;
    z-index: 1;
}
#message-box #btn-ok, #message-box .btn-display {
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 2px 1px var(--black);
    border: 1px solid var(--black);
    font-size: 1.5rem;
    transition: 0.5s;
}
#message-box #btn-ok:hover{
    background-color: var(--shine);
}
#message-box #message {
    font-size: 2rem;
    z-index: 1;
    color: var(--lightbrown);
}
#message-box.message-box__display {
    display: block;
}
#message-box.message-box__hidden, #message-box .btn-hidden, #message-box .incomplete-fields__hidden {
    display: none;
}
#message-box h3 {
    color: var(--white);
    border: 3px solid var(--white);
    padding: 0 0.2rem;
}
#message-box h4.incomplete-fields__display {
    color: white;
    margin-top: 0;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    border: none;
}
#message-box input {
    padding: 0.25rem 0;
}
#message-box .player-input {
    display: none;
}
#message-box .player-input__display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.btn-container, #container-btn.stop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.btn-newgame {
    position: relative;
    background-color: var(--gold);
    border-radius: 12px;
    padding: 5px 75px;
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 8px 1px var(--black);
    transition: 0.5s;
    overflow: hidden;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.btn-newgame:hover {
    background-color: var(--shine);
}
.btn-container .btn-newgame::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;
}
.btn-newgame:hover::before { 
    left: 100%;
}
.save-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#save, #load {
    margin-right: 0.2rem;
    padding: 5px 15px;
}
.container__saved-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}
.container__saved-games h2 {
    color: var(--gold);
    text-shadow: 1px 1px 1px var(--white);
    margin-bottom: 0;
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-size: 2rem;
    width: 100vw;
    text-align: center;
    margin-top: 2rem;
}
.container__saved-games .order-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 0;
    margin-right: 12.2rem;
    background-color:var(--lightbrown);
    opacity: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 1.5rem;
}
.container__saved-games .order-items #order-img {
    background-image: url(../img/order.png);
    background-size: cover;
    width: 40px;
    height: 40px;
}
.container__saved-games .order-items #order-date, .container__saved-games .order-items #order-score {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.container__saved-games .order-items #order-date:hover, .container__saved-games .order-items #order-score:hover {
    border-bottom: 0.5px solid var(--brown);
}

.container__saved-games #list {
    list-style-type: none;
    overflow-y: scroll;
    width: 20rem;
    height: 90vh;
    background-color: var(--lightbrown);
    margin-top: 0;
}
.container__saved-games #container-btn__saved-games {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}
.container__saved-games .navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container__saved-games .navigation-container .btn-newgame {
    margin-right: 0.2rem;
    margin-bottom: 0.5rem;
    padding-left: 2.5rem;
    width: 30%;
}
#list {
    display: flex;
    flex-direction: column;
}
#list li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#list li .load-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--gold);
    margin-right: 0.5rem;
    font-weight: bolder;
    width: 70%;
}
#list li .date {
    margin-bottom: 1rem;
}
#list li .winner {
    margin-bottom: 1rem;
}
#list .list__empty {
    width: 20rem;
    height: 25rem;
    border-radius: 10px;
    border:none;
}
.element-saved__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.element-saved__container p {
   margin-right: 0.5rem;
   margin-left: 0.5rem;
}
#list li .load-game{
    width: 4rem;
    height: 1.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 10px;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
    background-color: var(--black);
    padding-top: 0.5rem;
}
.footer__text {
    color: var(--white);
    font-size: 15px;
    margin-bottom: 1.5rem;
}
.footer__text--link {
    color: var(--blue);
}
.footer__text--link:hover {
   text-decoration: underline;
}
.footer img {
    width: 35px;
    height: 35px;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}
.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.rules .rules__title {
    font-size: 2rem;
   border-bottom: 1px solid var(--lightbrown);
   color: var(--lightbrown);
  text-align: center;
}
.rules h3 {
    text-align: center;
    color: var(--gold);
    border-bottom: 1px solid var(--lightbrown);
    font-size: 1.5rem;
}
.rules .rules__list {
    font-size: 1rem;
    color: var(--white);
    line-height: 2;
    
}


@media (max-width: 480px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10.5rem;
        padding-top: 2rem;
    }
    .navigation {
        flex-direction: column;
        padding-bottom: 3rem;
    }
    #checkers td {
      width: 11vw;
      height: 11vw;
    }
    #checkers .checkers__piece--black, #checkers .checkers__piece--brown {
    width: 8vw;
    height: 8vw;
    margin-left: 4px;
    }
    #turn.p1 div, #turn.p2 div {
       width: 35px;
       height: 35px;
    }
    .checkers__piece--black.painted, .checkers__piece--brown.painted {
        box-shadow: 0 0 10px 0 var(--gold);
    }
    .container__saved-games .order-items {
        width: 100vw;
        margin-right: 0;
        padding-left: 1rem;
    }
    .container__saved-games #list {
        width: 100vw;
    }
    .footer {
       width: 100vw;
    }
    .footer .footer__text {
        font-size: 10px;
    }
    .footer img {
        width: 25px;
        height: 25px;
        margin-left: 0.3rem;
        margin-top: 0.2rem;
    }
}
